/* Beleren Bold */
@font-face {
  font-family: "Beleren Bold";
  src:
    url("./beleren/Beleren2016-Bold.woff") format("woff"),
    url("./beleren/Beleren2016-Bold.ttf") format("truetype"),
    url("./beleren/Beleren2016-Bold.svg#Beleren2016-Bold") format("svg");
  font-style: normal;
  font-weight: bold;
  text-rendering: optimizeLegibility;
}

/* Beleren SmallCaps Bold */
@font-face {
  font-family: "Beleren SmallCaps Bold";
  src:
    url("./beleren/Beleren2016SmallCaps-Bold.woff") format("woff"),
    url("./beleren/Beleren2016SmallCaps-Bold.ttf") format("truetype"),
    url("./beleren/Beleren2016SmallCaps-Bold.svg#Beleren2016SmallCaps-Bold") format("svg");
  font-style: normal;
  font-weight: bold;
  text-rendering: optimizeLegibility;
}

/* Beleren SmallCaps BoldItalic */
@font-face {
  font-family: "Beleren SmallCaps BoldItalic";
  src:
    url("./beleren/Beleren2016SmallCaps-BoldItalic.woff") format("woff"),
    url("./beleren/Beleren2016SmallCaps-BoldItalic.ttf") format("truetype"),
    url("./beleren/Beleren2016SmallCaps-BoldItalic.svg#Beleren2016SmallCaps-BoldItalic") format("svg");
  font-style: italic;
  font-weight: bold;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'icomoon';
  src: url('./icons/icomoon.eot?nn7309');
  src: url('./icons/icomoon.eot?nn7309#iefix') format('embedded-opentype'),
    url('./icons/icomoon.ttf?nn7309') format('truetype'),
    url('./icons/icomoon.woff?nn7309') format('woff'),
    url('./icons/icomoon.svg?nn7309#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-T:before {
  content: "\e926";
}

.icon-B:before {
  content: "\e900";
}

.icon-logo:before {
  content: "\e901";
}

.icon-C:before {
  content: "\e902";
}

.icon-G:before {
  content: "\e903";
}

.icon-R:before {
  content: "\e904";
}

.icon-U:before {
  content: "\e905";
}

.icon-W:before {
  content: "\e906";
}

.icon-sync:before {
  content: "\e923";
}

.icon-loop:before {
  content: "\e923";
}

.icon-library-add:before {
  content: "\e927";
}

.icon-collection-add:before {
  content: "\e927";
}

.icon-library:before {
  content: "\e907";
}

.icon-collection-add2:before {
  content: "\e928";
}

.icon-collection-check2:before {
  content: "\e936";
}

.icon-add:before {
  content: "\e908";
}

.icon-plus:before {
  content: "\e908";
}

.icon-clear:before {
  content: "\e909";
}

.icon-close:before {
  content: "\e909";
}

.icon-copy:before {
  content: "\e90a";
}

.icon-duplicate:before {
  content: "\e90a";
}

.icon-paste:before {
  content: "\e90b";
}

.icon-clipboard:before {
  content: "\e90b";
}

.icon-edit:before {
  content: "\e93a";
}

.icon-remove:before {
  content: "\e90c";
}

.icon-sort:before {
  content: "\e90d";
}

.icon-move-bottom:before {
  content: "\e929";
}

.icon-clip-add:before {
  content: "\e92a";
}

.icon-clip:before {
  content: "\e92b";
}

.icon-expand:before {
  content: "\e92c";
}

.icon-list:before {
  content: "\e90e";
}

.icon-upload1:before {
  content: "\e90f";
}

.icon-folder:before {
  content: "\e92d";
}

.icon-collection:before {
  content: "\e92d";
}

.icon-folder-open:before {
  content: "\e92e";
}

.icon-collection-alt:before {
  content: "\e92e";
}

.icon-folder-add:before {
  content: "\e92f";
}

.icon-chevron-down:before {
  content: "\e910";
}

.icon-chevron-left:before {
  content: "\e911";
}

.icon-chevron-right:before {
  content: "\e912";
}

.icon-chevron-up:before {
  content: "\e913";
}

.icon-prints:before {
  content: "\e922";
}

.icon-compare:before {
  content: "\e930";
}

.icon-grid:before {
  content: "\e931";
}

.icon-image-search:before {
  content: "\e932";
}

.icon-cart:before {
  content: "\e924";
}

.icon-arrow-back:before {
  content: "\e914";
}

.icon-caret-down:before {
  content: "\e915";
}

.icon-caret-up:before {
  content: "\e916";
}

.icon-arrow-right:before {
  content: "\e917";
}

.icon-check:before {
  content: "\e939";
}

.icon-menu:before {
  content: "\e918";
}

.icon-arrow-up:before {
  content: "\e919";
}

.icon-subdirectory_arrow_left:before {
  content: "\e91a";
}

.icon-subdirectory_arrow_right:before {
  content: "\e91b";
}

.icon-arrow-down:before {
  content: "\e91c";
}

.icon-sync-error:before {
  content: "\e925";
}

.icon-delete:before {
  content: "\e91d";
}

.icon-search:before {
  content: "\e91e";
}

.icon-settings:before {
  content: "\e91f";
}

.icon-compare_arrows:before {
  content: "\e933";
}

.icon-check-circle:before {
  content: "\e937";
}

.icon-filter:before {
  content: "\e935";
}

.icon-upload:before {
  content: "\e920";
}

.icon-collection-check:before {
  content: "\e938";
}

.icon-menu-open:before {
  content: "\e921";
}

.icon-details:before {
  content: "\e921";
}

.icon-foil:before {
  content: "\e934";
}